@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
/* 초기화 */

*{margin:0; padding:0;}
li{list-style-type:none;}
img{border:0;}
a:link, a:visited{text-decoration:none; color:#777;}
a:hover, a:focus{text-decoration:none; color:#777;}
body{margin:0; padding:0; font-size:12px; font-family: "Nanum Gothic", dotum,"돋움",sans-serif;}
h2{position:absolute; left:-9999px; font-size:1px; overflow:hidden; width:1px; height:1px; line-height:1px;}
#wrap{width:100%;}

/* header */

#headerWrap{width:100%; height:77px; margin:0 auto; border-bottom:1px solid #ddd; z-index:1000; position:relative; }
#header{width:1000px; height:77px; margin:0 auto; }
#header h1{width:240px; height:31px; float:left; padding:23px 10px; }

/* nav */

#nav{width:740px; height:77px; float:left;}
#nav span{display:none;}
#nav ul li{float:left; position:relative; margin-left:50px;}
#nav ul li a{width:135px; height:17px; display:inline-block; padding:30px 0; text-align:center; }
#nav ul li ul.subGnb{position:absolute; display:none; width:135px; padding:6px 0 18px; font-size:13px; font-weight:700; background-color:#fff; border-top:1px solid #ddd; border-left:1px solid #c2c2c2; border-right:1px solid #c2c2c2; border-bottom:1px solid #d51113; z-index:100;}
#nav ul li ul.subGnb li{ margin-left:0;}
#nav ul li ul.subGnb li a{ color:#333; text-align:left; width:118px;  padding:0 0 0 17px; height:28px; line-height:28px; }
#nav ul li ul.subGnb li a:hover{background:#666; color:#fff; }
#nav ul:after{content:""; display:block; clear:both;}

/* content */

#contentWrap{width:100%; overflow:hidden;}
#subconWrap{width:1000px; margin:40px auto; position:relative;}

/* quickmenu */

#quickmenu{position:fixed; top:160px; left:1150px;}
#quickmenu ul li a{width:88px; display:inline-block; height:80px; margin:0 0 8px; background:url("../img/subImg/btn_quickmenu.gif") no-repeat 0 0;}
#quickmenu ul li a.menu1{background-position:0 0;}
#quickmenu ul li a.menu2{background-position:0 -168px;}
#quickmenu ul li a.menu3{background-position:0 -84px;}
#quickmenu ul li a.menu4{background-position:0 -252px;}
#quickmenu ul li a span{position:absolute; left:-2000%;}

/* subcon */

#subconWrap #subLab{float:left; width: 165px; height:100%; margin-right:50px;}
#subconWrap #subLab p{padding:40px 0 38px; border-bottom:3px solid #333;}
#subconWrap #subLab p span:first-child{font-size:12px; font-family:'Tahoma'; font-weight:normal; color: #999; padding-bottom:5px;}
#subconWrap #subLab p span{display:block; font-size:28px; color:#333; font-weight:bold; padding-left:6px;}

#subconWrap #menuTab{margin-top:25px;}
#subconWrap #menuTab li a{width:155px; height:40px; font-size:14px; display:inline-block; padding:0 0 0 10px; line-height:40px; font-weight:bold; color: #333; border-bottom: 1px solid #d2d2d2; background:url("img/subImg/bu_lnb.gif") no-repeat 150px 50%;}
#subconWrap #menuTab li:first-child{border-top: 1px solid #d2d2d2;}

#subconWrap #subCon{width:765px; float:left; padding:0 0 70px; position:relative;}
#subCon #subTop{width:765px; height:115px; padding:15px 0 0 0;}
#subCon #subTop h3{font-size:36px; font-family:"Segoe UI","Nanum Gothic", dotum,"돋움",sans-serif; color:#333; padding-top:13px;}
#subCon #subTop p{font-size:17px; font-weight:bold; color:#333; line-height:21px; padding:13px 0 22px;}
#subCon #subNav{position:absolute; top:41px; right:0; font-family:dotum,"돋움",sans-serif; color:#999;}
#subCon #subNav span{padding:0 5px;display: inline-block;}
#subCon #subNav span.currentpage{color:#333;}

#subCon #substance{position:relative; border-top:1px solid #d2d2d2; padding:23px 0 50px;}
#substance #map{width:765px; height:450px;}
#substance dl.adress{width:512px; overflow:hidden; border-top:1px solid #e03136; float:left; font-size:13px; margin-top: 40px;}
#substance dl.adress dt{width:76px; color:#333; font-weight:bold; margin:16px 0 0; float:left; padding:0 0 18px 4px; border-bottom:1px solid #d2d2d2; background:url("../img/subImg/bu_bar01.gif") no-repeat right 6px;}
#substance dl.adress dd{width:401px; overflow:hidden; padding:16px 0 18px 30px; border-bottom:1px solid #d2d2d2;}
#substance div.callcenter{width:142px; padding:26px 0 22px 85px; border-bottom: 1px solid #d2d2d2; border-top: 1px solid #e03136; background:url("../img/subImg/bg_phone.gif") no-repeat 14px 28px; float:left; margin:40px 0 0 25px;}
#substance div.callcenter p:first-child{font-family:"Tahoma"; color:#333; font-size:14px; padding:0 0 8px;}

/* footer */

#footerWrap{width:100%; height:120px; background-color:#E9E9E9;}
#footer{width:980px; height:90px; margin:0 auto; font-size:12px; padding-top:30px;}
#fText{width:830px; height:100%; float:left;}
#fText #footerMenu{padding-bottom:15px;}
#fText #footerMenu a{display:inline; padding:0 5px;}
#fText #footerMenu a:first-child {padding-left:0;}
#fText #footerMenu img.footerbar{padding-bottom:2px;}
#fText #footerText{color:#747474;line-height:18px;}
#fSelect{width:150px; height:100%; float:left;}
#fSelect #familySelet, #member #memberSelect{width:150px; border:1px solid #ddd; color:#747474; height:28px;}
#member #memberSelect{margin-top:5px;}